@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center center-body">
    <div class="center-body-column">

        <h1 class="display-4">Welcome!</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img src="https://preview.redd.it/battle-queen-fiora-splash-art-v0-ypcpszv6vgid1.jpeg?auto=webp&s=c915b3918efc7b7ad43676e262057dbe2b9377ff"
    width="800" />
</div>
