@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="align-content:center">Layout is made with the help of <a href="https://www.youtube.com/@@coding2go" target="_blank">Coding2GO</a> tutorials</p>
